@model ShortenUrl
@{
    ViewData["Title"] = "Shorten URLs";
}

<div class="text-center">    
        <div class="row">
        <div class="mx-auto col-10 col-md-6 col-lh-6 p-2 ">
            <h1 class="display-4 p-2">Enter the long URL here: </h1>
            <div class="p-2">
                <div class="alert alert-warning p-2" role="alert">
                The URL you requested does not exist.
                </div>
            </div>
                <form asp-action="Complete" asp-controller="ShortenUrl">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <input asp-for="LongUrl" class="form-control" />
                        <span asp-validation-for="LongUrl" class="text-danger"></span>
                    </div>
                    <div class="form-group p-2">
                        <input type="submit" value="Shorten!" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
</div>